body {
  margin: 0;
  font-family: Poppins;
  background: linear-gradient(135deg,#1d2671,#c33764);
  color: white;
}

.light {
  background: #f4f4f4;
  color: black;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: rgba(0,0,0,0.5);
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

/* SECTIONS */
section {
  padding: 30px;
}

/* GLASS */
.glass {
  background: rgba(255,255,255,0.1);
  padding: 15px;
  border-radius: 10px;
}

/* INPUT */
input, select, textarea {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #00c6ff;
  cursor: pointer;
}

/* EVENTS */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  position: relative;
}

.dlt {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/* TODO */
#taskList li {
  background: rgba(255,255,255,0.1);
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

/* RESPONSIVE */
@media(max-width:768px){
  .cards{
    flex-direction: column;
  }
}